$colour-primary: #e92569;
$colour-secondary: #767676;

$colour-background-primary: #f5f5f5;
$colour-background-secondary: #ffffff;
$colour-background-body: #e5e5e5;

$theme-colors: (
  "primary": $colour-primary,
  "light": $colour-background-primary,
);

$input-bg: $colour-background-secondary;
$body-color: $colour-secondary;

$font-family-base: "Lato", serif;
$headings-font-family: "Playfair Display", sans-serif;
$headings-color: $colour-primary;

$nav-link: $colour-primary;

@import "~bootstrap/scss/bootstrap";

@import "./partials/layout";
@import "./partials/typography";
@import "./partials/navigation";
@import "./partials/imageCarousel";
@import "./partials/information";
@import "./partials/contentAccordion";
@import "./partials/tabs";
@import "./partials/share";
@import "./partials/newsCard";
@import "./partials/buttonNum";
@import "./partials/contactForm";
@import "./partials/contactInfo";
@import "./partials/footer";
