footer {
  background-color: $colour-background-secondary;
  margin-top: 50px;
  padding: 20px;
}

.fab {
  margin-right: 10px;
}

.col:last-child {
  text-align: end;
}

.col:nth-child(2) {
  text-align: center;
}

@media (max-width: 767px) {
  .col-12,
  .col,
  .col:last-child {
    text-align: center;
  }
}
