.shareIcons {
  display: flex;
  margin-top: 10px;
  color: black;

  & > i {
    margin-left: 10px;
    font-weight: 900;
  }

  p {
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .shareIcons {
    justify-content: center;
  }
}
